* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #84A59D;
  --secondary: #F3D8C7;
  --tertiary: #F3C4FB;
  --success: #b8e0d2;
  --warning: #ffd6a5;
  --error: #ffadad;
  --neutral: #E9ECEF;
  --white: #fff;
  --black: #212529;
  --grey: #767676;
}
